In [1]:
for i in range(5): # rows
    for j in range(5): # columns
        print('* ',end = '')
    print('\n')

* * * * *

* * * * *

* * * * *

* * * * *

* * * * *

In [2]:
for i in range(1,6):
    print(i*'* ')

*
* *
* * *
* * * *
* * * * *

In [3]:
for i in range(5):
    for j in range(i+1):
        print(j+1,end = ' ')
    print('\n')

1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

In [4]:
for i in range(5):
    for j in range(i+1):
        print(i+1 , end = ' ')
    print('\n')

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

In [5]:
for i in range(5,0,-1):
    print(i*'* ')

* * * * *
* * * *
* * *
* *
*

In [6]:
for i in range(5,0,-1):
    for j in range(1,i+1):
        print(j,end = ' ')
    print('\n')

1 2 3 4 5

1 2 3 4

1 2 3

1 2

1

In [7]:
for i in range(1,6):
    for j in range(i):
        print(j+1,end = ' ')
    print('\n')

1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

In [8]:
for i in range(1,6):
    for j in range(6-i):
        print('* ',end=' ')
    print('\n')

*  *  *  *  *

*  *  *  *

*  *  *

*  *

*

In [9]:
for i in range(1,6):
    for j in range(i):
        print(i,end = ' ')
    print('\n')

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

In [10]:
for i in range(1,6):
    for j in range(6-i):
        print(j+1,end=' ')
    print('\n')

1 2 3 4 5

1 2 3 4

1 2 3

1 2

1

In [11]:
for i in range(5):
    for j in range(5-i):
        print(' ',end=' ')
    for j in range(2*i + 1):
        print('* ',end='')
    print('\n')

          *

        * * *

      * * * * *

    * * * * * * *

  * * * * * * * * *

In [12]:
for i in range(4,-1,-1):
    for j in range(4-i):
        print(' ',end=' ')
    for j in range(i*2 +1):
        print('*',end=' ')
    print('\n')

* * * * * * * * *

  * * * * * * *

    * * * * *

      * * *

        *

In [13]:
for i in range(5):
    for j in range(5-i):
        print(' ',end='')
    for j in range(i*2+1):
        print('*',end= '')
    print('\n')
    if i == 4:
        for k in range(1,5):
            print(' ',end = '')

     *

    ***

   *****

  *******

 *********

In [14]:
for i in range(5):
    for j in range(4-i):
        print(' ',end='')
    for j in range(i+1):
        print('* ',end='')
    print('\n')
    if i == 4:
        for j in range(i):
            for k in range(j+1):
                print(' ',end='')
            for k in range(4-j):
                print('* ',end='')
            print('\n')

    *

   * *

  * * *

 * * * *

* * * * *

 * * * *

  * * *

   * *

    *

In [15]:
n=6
for i in range(n):
    for j in range(n-i-1):
        print(' ',end='')
    for j in range(i+1):
        print('* ',end='')
    print('\n')
    if i == n-1:
        for j in range(i):
            for k in range(j+1):
                print(' ',end='')
            for k in range(n-1-j):
                print('* ',end='')
            print('\n')

     *

    * *

   * * *

  * * * *

 * * * * *

* * * * * *

 * * * * *

  * * * *

   * * *

    * *

     *

In [16]:
for i in range(5):
    print((i+1)*'* ')
    if i == 4:
        for j in range(4,0,-1):
            print(j*'* ')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [17]:
for i in range(5):
    if i %2 == 0:
        start = 1
    else:
        start = 0
    for j in range(i+1):
        print(start,end = ' ')
        start = 1 - start
    print('\n')

1

0 1

1 0 1

0 1 0 1

1 0 1 0 1

In [18]:
for i in range(1,5):
    for j in range(i):
        print(j+1,end = '')
    for j in range(i):
         print(j,end='')
    print('\n')

10

1201

123012

12340123

In [19]:
no = 1
for i in range(5):
    for j in range(i+1):
        print(no,end=' ')
        no+=1
    print('\n')

1

2 3

4 5 6

7 8 9 10

11 12 13 14 15

In [20]:
chr(65)

'A'

In [21]:
for i in range(5):
    for j in range(i+1):
        print(chr(65+j),end= ' ')
    print('\n')

A

A B

A B C

A B C D

A B C D E

In [22]:
for i in range(5,0,-1):
    for j in range(i):
        print(chr(65+j),end= ' ')
    print('\n')

A B C D E

A B C D

A B C

A B

A

In [23]:
for i in range(5):
    for j in range(i+1):
        print(chr(65+i),end= ' ')
    print('\n')

A

B B

C C C

D D D D

E E E E E

In [24]:
for i in range(1,5):
    for j in range(i,0,-1):
        print(j,end= ' ')
    print()

1
2 1
3 2 1
4 3 2 1

In [25]:
def p12(N):
    for i in range(1,N+1):
        for j in range(1,i+1):
            print(j,end= ' ')
        
        for j in range(2*(N-i)):
            print(' ',end= ' ')
        
        for j in range(i,0,-1):
            print(j,end = ' ')
        
        print()
p12(5)

1                 1
1 2             2 1
1 2 3         3 2 1
1 2 3 4     4 3 2 1
1 2 3 4 5 5 4 3 2 1

In [26]:
for i in range(1,6):
    for j in range(i):
        print(6-(j+1),end = ' ')
    print('\n')

5

5 4

5 4 3

5 4 3 2

5 4 3 2 1

In [27]:
for i in range(1,6):
    for j in range(i,0,-1):
        print(6-(j),end = ' ')
    print('\n')

5

4 5

3 4 5

2 3 4 5

1 2 3 4 5

In [28]:
for i in range(1,6):
    for j in range(i,0,-1):
        print(chr(70-(j)),end = ' ')
    print('\n')

E

D E

C D E

B C D E

A B C D E

In [29]:
for i in range(1,6):
    for j in range(6-i):
        print('* ',end = '')
    for j in range((i-1)*2):
        print(' ',end=' ')
    for j in range(6-i):
        print('* ',end = '')
    print()
for i in range(1,6):
    for j in range(i):
        print('* ',end = '')
    for j in range((5-i)*2):
        print(' ',end=' ')
    for j in range(i):
        print('* ',end = '')
    print()

* * * * * * * * * *
* * * *     * * * *
* * *         * * *
* *             * *
*                 *
*                 *
* *             * *
* * *         * * *
* * * *     * * * *
* * * * * * * * * *

In [30]:
for i in range(1,6):
    for j in range(1,i+1):
        print('* ',end='')
    
    for j in range((5-i)*2):
        print('  ',end='')
    
    for j in range(1,i+1):
        print('* ',end='')
    print()

for i in range(4,0,-1):
    for j in range(i):
        print('* ',end='')
    
    for j in range((5-i)*2):
        print('  ',end='')
    
    for j in range(i):
        print('* ',end='')
    print()

*                 *
* *             * *
* * *         * * *
* * * *     * * * *
* * * * * * * * * *
* * * *     * * * *
* * *         * * *
* *             * *
*                 *

In [39]:
for i in range(2,0,-1):
    for j in range(i):
        print('*',end='')
    for j in range(2-i ):
        print(' '*2,end = '')
    for j in range(i):
        print('*',end='')
    print()
for i in range(1,3,):
    for j in range(i):
        print('*',end='')
    for j in range(2-i ):
        print(' '*2,end = '')
    for j in range(i):
        print('*',end='')
    print()

****
*  *
*  *
****

In [53]:
def sq(N):
    if N == 1:
        return '*'
    
    else:
        N = N
        for i in range(N,0,-1):
            for j in range(i):
                print('*',end='')
            for j in range(N-i ):
                print(' ',end = ' ')
            for j in range(i):
                print('*',end='')
            print()
        for i in range(1,N+1):
            for j in range(i):
                print('*',end='')
            for j in range(N-i ):
                print(' ',end = ' ')
            for j in range(i):
                print('*',end='')
            print()
sq(3)

******
**  **
*    *
*    *
**  **
******