<div style='color:white;text-align:center;background-color:black; font-size:20px' > List </div>

<center> Lists are iterable mutable objects having index & can store any hetrogenous data</center>

In [1]:
list1 = ['hey',1,True,3.0, 6+9j]

In [2]:
a = "Hey it's a string"
list(a)

['H',
 'e',
 'y',
 ' ',
 'i',
 't',
 "'",
 's',
 ' ',
 'a',
 ' ',
 's',
 't',
 'r',
 'i',
 'n',
 'g']

In [3]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [4]:
# Slicing
l[0]

1

In [5]:
# last element of a list
l[-1]

20

In [6]:
l[::2]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [7]:
l[-1:-5:-1]

[20, 19, 18, 17]

In [8]:
l[::-1]

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [9]:
type(l)

list

In [10]:
# returns size of the list
len(l)

20

In [11]:
# Mutability
l[12] = '*'
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, '*', 14, 15, 16, 17, 18, 19, 20]

In [12]:
l[2],l[5] = '*','*'
l

[1, 2, '*', 4, 5, '*', 7, 8, 9, 10, 11, 12, '*', 14, 15, 16, 17, 18, 19, 20]

In [13]:
l.count('*')

3

In [14]:
# iterating though a list
for i in l[0:10]:
    print(i)

1
2
*
4
5
*
7
8
9
10

In [15]:
#concatenation
list1 + l

['hey',
 1,
 True,
 3.0,
 (6+9j),
 1,
 2,
 '*',
 4,
 5,
 '*',
 7,
 8,
 9,
 10,
 11,
 12,
 '*',
 14,
 15,
 16,
 17,
 18,
 19,
 20]

In [16]:
# multiplication by a constant
list1 * 2

['hey', 1, True, 3.0, (6+9j), 'hey', 1, True, 3.0, (6+9j)]

In [17]:
# adding a constant gives an error
#list1 + 6

In [18]:
list1.insert(10,'inster')
list1

['hey', 1, True, 3.0, (6+9j), 'inster']

In [19]:
l.pop(-2)
l

[1, 2, '*', 4, 5, '*', 7, 8, 9, 10, 11, 12, '*', 14, 15, 16, 17, 18, 20]

In [20]:
# nested lists

list2 = [ ['Rahul','Pranshu','Harpreet','Akash','Ravi'],
           [23,26,24,24,24],
            ['M','M','F','M','M'],
             [ 5.9,5.6,5.6,5.5,5.6]]

In [21]:
# Slicing a nested list
list2[1:]

[[23, 26, 24, 24, 24], ['M', 'M', 'F', 'M', 'M'], [5.9, 5.6, 5.6, 5.5, 5.6]]

In [22]:
# Slicing a nested list
list2[2]

['M', 'M', 'F', 'M', 'M']

In [23]:
# Slicing a nested list
list2[3][3:]

[5.5, 5.6]

In [24]:
# iterating through nested list 
for i in list2:
    print(i)

['Rahul', 'Pranshu', 'Harpreet', 'Akash', 'Ravi']
[23, 26, 24, 24, 24]
['M', 'M', 'F', 'M', 'M']
[5.9, 5.6, 5.6, 5.5, 5.6]

In [25]:
# alternate solution
for i in list2:
    for j in i:
        print(j)

Rahul
Pranshu
Harpreet
Akash
Ravi
23
26
24
24
24
M
M
F
M
M
5.9
5.6
5.6
5.5
5.6

In [26]:
# list comprehension
x = [i for i in range(10) ]
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
# list comprehension
x = [i for i in range(20) if i%2==0]
x

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

<div style='color:white;text-align:center;background-color:black; font-size:20px'> Tuples </div>

<center>Ordered set of immutable items that can be iterated</center>

In [28]:
t = tuple(x)
t

(0, 2, 4, 6, 8, 10, 12, 14, 16, 18)

In [29]:
for x in t:
    print(x**2)

0
4
16
36
64
100
144
196
256
324

In [30]:
t

(0, 2, 4, 6, 8, 10, 12, 14, 16, 18)

In [31]:
t[2]

4

In [32]:
# t[2]=9 : Error!!!

In [33]:
x = list(t)
x

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [34]:
# adding or replacing items in a tuple
x[2] = 8
x = tuple(x)
x

(0, 2, 8, 6, 8, 10, 12, 14, 16, 18)

In [35]:
x.count(8)

2