In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [2]:
print("I am awesome")

I am awesome

In [3]:
a = 1
b = 2
c ="awesome"

In [4]:
a,b,c

(1, 2, 'awesome')

In [5]:
print(a,b,c)

1 2 awesome

In [6]:
name = "Rahul"
uid = "rahulh1998@gmail.com"
pw = "pw"

In [7]:
a = True
b =False

In [8]:
a + a+ a +b+ a

4

a/b

ZeroDivisionError                         Traceback (most recent call last)
<ipython-input-9-aae42d317509> in <module>
----> 1 a/b

ZeroDivisionError: division by zero

In [9]:
a = 89 +6j
b = 8 + 1j

In [10]:
a + b

(97+7j)

In [11]:
#c = 0 + 6n

"""  File "<ipython-input-11-0084c010abe1>", line 1
    c = 0 + 6n
             ^
SyntaxError: invalid syntax"""

'  File "<ipython-input-11-0084c010abe1>", line 1\n    c = 0 + 6n\n             ^\nSyntaxError: invalid syntax'

In [12]:
#Error
#1 + 'raul'

In [13]:
str(1)+"raul"

'1raul'

In [14]:
'raul'+"hiro"

'raulhiro'

In [15]:
int()

0

In [16]:
"r"*10 +6*"yo"

'rrrrrrrrrryoyoyoyoyoyo'

In [17]:
# Error cannot multiply two strings
#"r"*"r"

In [18]:
#a = int(input("enter any no"))
a =56

In [19]:
if a < 50:
    pass

In [20]:
if a < 50:
    print("Its under 50")

In [21]:
if a < 50:
    print("Its under 50")
elif a>50 :
    print("Over 50")
else : 
    print("equal 50")

Over 50

In [22]:
#a,b,c = int(input())

In [23]:
init = 10
final = 100
count = 0

while init <= final :
    count = count+1
    print(count)
    if count >= 10:
        break

1
2
3
4
5
6
7
8
9
10

In [24]:
pointer = 10
i =1
while i<=pointer:
    print(i**2)
    i+=1 
else :
    print("Now we are in else condn")

1
4
9
16
25
36
49
64
81
100
Now we are in else condn

# It's awesome from here

In [25]:
pointer = 10
i =1
while i<=pointer:
    c=i**2
    print(c)
     
    
    if c%2==0:
        print(f"{i} is divisible by 2")
        
        print(70*"_")
    else:
        print(f"{i} is non-divisible by 2")
        print(70*"_")
    i+=1
else :
    print("Now we are in else condn")

1
1 is non-divisible by 2
______________________________________________________________________
4
2 is divisible by 2
______________________________________________________________________
9
3 is non-divisible by 2
______________________________________________________________________
16
4 is divisible by 2
______________________________________________________________________
25
5 is non-divisible by 2
______________________________________________________________________
36
6 is divisible by 2
______________________________________________________________________
49
7 is non-divisible by 2
______________________________________________________________________
64
8 is divisible by 2
______________________________________________________________________
81
9 is non-divisible by 2
______________________________________________________________________
100
10 is divisible by 2
______________________________________________________________________
Now we are in else condn

In [26]:
name = "Rahul"
temp = []
for i in range(len(name)):
    print(name[i])

R
a
h
u
l

In [27]:
x = [print(i) for i in range(10)]

0
1
2
3
4
5
6
7
8
9

In [28]:
name[::-1]

'luhaR'

In [29]:
st = "print(i) for i in range(10)"

In [30]:
st[10]

'o'

In [31]:
st[10:1]

''

In [32]:
st[12:-1]

' i in range(10'

In [33]:
st[12:2:-1]

' rof )i(tn'

In [34]:
for i in st:
    if i=='i':
        print('         XXXXXX')
    else :
        print(i)
else:
    print("Entering else condition")

p
r
         XXXXXX
n
t
(
         XXXXXX
)

f
o
r

         XXXXXX

         XXXXXX
n

r
a
n
g
e
(
1
0
)
Entering else condition

In [35]:
a= '* * * * * * * * * * * * * * *'
a.split(" ")
b = "".join(a.split(" "))
len(b)

15

#  Pattern

In [36]:
for i in range(25):
    print('+ ',end= '')

+ + + + + + + + + + + + + + + + + + + + + + + + +

In [37]:
for i in range(5): # Upper loop is for no of rows
    for j in range(i+1):# this loop is for printing "+"
        print("+", end=" ")
    print("\r")

+
+ +
+ + +
+ + + +
+ + + + +

In [38]:
for i in range(5): # Upper loop is for no of rows
    
    for j in range(i):# this loop is for printing "+"
        print("+ ", end="")
    print("\r")

+
+ +
+ + +
+ + + +

    i=0    +           j in range(0+1) -> j=1 {range(1)= 0,since 0 is still a value(?position also)hence it runs for 1 time} 
    i=1    + +         j in range(1+1) -> j=2
    i=2    + + +       j in range(1+2) -> j=3
    i=3    + + + +     j in range(1+3) -> j=4
    i=4    + + + + +   j in range(1+4) -> j=5

In [39]:
for i in range(1):
    print(i)

0

In [40]:
for i in range(0):
    print(i)# It doesnot even executes

In [41]:
range(1)

range(0, 1)

In [42]:
range(0)

range(0, 0)

In [43]:
for i in range(5):
    for j in range(i+1):
        print('*',end=" ")
    print("\r")

*
* *
* * *
* * * *
* * * * *

In [44]:
for i in range(5):
    for j in range(5-i):
        print('*',end=' ')
    print("\r")

* * * * *
* * * *
* * *
* *
*

In [45]:
n=6
for i in range(n,0,-1):
    print(f"i={i}   & n-i = {n-i}")

i=6   & n-i = 0
i=5   & n-i = 1
i=4   & n-i = 2
i=3   & n-i = 3
i=2   & n-i = 4
i=1   & n-i = 5

In [46]:
n= 5
for i in range(n,0,-1): #n = 5   i=5,4,3,2,1
    for j in range(n-i):#for printing spaces
        print(" ",end= "")
    
    for j in range(i): # for printing *
        print("*",end=" ")
        
    print("\r")

* * * * *
 * * * *
  * * *
   * *
    *

In [47]:
# alternate logic

for i in range(5):
    for j in range(i):
        print(" ",end="")
    for j in range(5-i):
        print("*",end=" ")
    print("\r")

* * * * *
 * * * *
  * * *
   * *
    *

In [48]:
#n = 5
for i in range(5):
    for j in range(5-i-1):# for printing spaces
        print("",end=" ")
        
    for j in range(i+1):# for printing *
        print("*",end=" ")
    print("\r")
print("You're amazing!!!")

    *
   * *
  * * *
 * * * *
* * * * *
You're amazing!!!

In [49]:
#alternate solution

for i in range(5):
    for j in range(5-i-1):
        print(" ",end="")
    for j in range(i+1):
        print("*",end=" ")
    print("\r")

    *
   * *
  * * *
 * * * *
* * * * *

In [50]:
#another pattern

for i in range(5):
    for j in range(5-i-1):
        print(".",end="")
    for j in range(i+1):
        print(i+1,end=" ")
    print("\r")

....1
...2 2
..3 3 3
.4 4 4 4
5 5 5 5 5

In [51]:
for i in range(97,123):
    print(chr(i),end="  ")

a  b  c  d  e  f  g  h  i  j  k  l  m  n  o  p  q  r  s  t  u  v  w  x  y  z

In [52]:
for i in range(5):
    for j in range(5-i-1):
        print(" ",end="")
    for j in range(i+1):
        print(chr(i+97),end=" ")
    print("\r") 
print("You are awesome!!!")

    a
   b b
  c c c
 d d d d
e e e e e
You are awesome!!!

In [53]:
#n = int(input("Enter a value for n  "))
#print("\n\n")
n=5
for i in range(n):
    for j in range(n-i-1):
        print(" ",end="")
        
    for j in range(i+1):
        print(chr(i+97),end=" ")
    
    print("\r") 
#print("You are awesome!!!")

    a
   b b
  c c c
 d d d d
e e e e e

In [54]:
#n = int(input("Enter a value for n  "))
n=5
print("\n\n")
for i in range(n):
    for j in range(n-i-1):
        print(" ",end="")
        
    for j in range(i+1):
        print(chr(i+65),end=" ")
    
    print("\r") 
#print("You are awesome!!!")

    A
   B B
  C C C
 D D D D
E E E E E

In [55]:
for i in range(5):
    for j in range(5-i):
        print(" ",end="")
    for j in range(i*2+1):
        print("*",end="")
    print("\r")

     *
    ***
   *****
  *******
 *********

In [56]:
a = "hey this is supposed to be an amazing journey,live your life to the fullest & Keep rocking"

In [57]:
a

'hey this is supposed to be an amazing journey,live your life to the fullest & Keep rocking'

In [58]:
a[::-1]

'gnikcor peeK & tselluf eht ot efil ruoy evil,yenruoj gnizama na eb ot desoppus si siht yeh'

In [59]:
a[:1]

'h'

In [60]:
a[-1:]

'g'

In [61]:
a[-4:]

'king'

In [62]:
a[-1:-6]

''

In [63]:
line = [ x for x in range(-10,10)]

In [64]:
line

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [65]:
a

'hey this is supposed to be an amazing journey,live your life to the fullest & Keep rocking'

In [66]:
a[1:-10]

'ey this is supposed to be an amazing journey,live your life to the fullest & Ke'

In [67]:
# since starting index is -ve the pointer is at the -th index. "-1" jumps to the left side 
a[-1:10:-1]

'gnikcor peeK & tselluf eht ot efil ruoy evil,yenruoj gnizama na eb ot desoppus '

In [68]:
#for -ve starting index, if jump is positive end result will be an empty string
a[-1:10:1]

''

In [69]:
a[-1:-10:-1]

'gnikcor p'

In [70]:
a[0:-10:-1]

''

In [71]:
a

'hey this is supposed to be an amazing journey,live your life to the fullest & Keep rocking'

In [72]:
a[0:1]

'h'

In [73]:
a[0:-4:-1]

''

In [74]:
a[-4:-1]

'kin'

In [75]:
a.startswith("the")

False

In [76]:
a = 'hey this is the supposed to be the an amazing journey,live your life to the fullest & Keep rocking'

In [77]:

def countDups(str):
    c = 0
    for i in str.split():
        if i=="the":
            c = c+1
    if c==1 or c==0:
        print("No dups")
    else:
        print(f"No of duplicates = {c}")

countDups(a)

No of duplicates = 3

In [78]:
for i in a.split():
    print(i)

hey
this
is
the
supposed
to
be
the
an
amazing
journey,live
your
life
to
the
fullest
&
Keep
rocking

In [79]:
a = 'This life is a wonderful journey of what is considered to be a random sentence that i created which makes no sense'

In [80]:
len(a)

114

In [81]:
a.find('sense')

109

In [82]:
a.find('journey')

25

In [83]:
a.swapcase()

'tHIS LIFE IS A WONDERFUL JOURNEY OF WHAT IS CONSIDERED TO BE A RANDOM SENTENCE THAT I CREATED WHICH MAKES NO SENSE'

In [84]:
a.encode()

b'This life is a wonderful journey of what is considered to be a random sentence that i created which makes no sense'

In [85]:
a.replace('wonderful','replaced MF!!!!!!!')

'This life is a replaced MF!!!!!!! journey of what is considered to be a random sentence that i created which makes no sense'

In [86]:
"rahul".center(40," ")

'                 rahul                  '

In [87]:
a = 'rahul is'
a.isspace()

False

In [88]:
'234235'.isdigit()

True

In [89]:
a.startswith('is')

False

In [90]:
l = [ 'rahu',23 ,5.8 ,True ,6+7j]

In [91]:
type(l)

list

In [92]:
for i in range(len(l)):
    print(type(l[i]))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'complex'>

In [93]:
#list is mutable
a = [34536 , 'kumar' , 'awrs']

a[1][0] = 's'
#since string is immutable we cannot edit

In [94]:
a[1][0].replace('k','s')

's'

In [95]:
a

[34536, 'kumar', 'awrs']

In [96]:
b = ['kl' , 453 ,False]

In [97]:
a + b

[34536, 'kumar', 'awrs', 'kl', 453, False]

In [98]:
a * 3

[34536, 'kumar', 'awrs', 34536, 'kumar', 'awrs', 34536, 'kumar', 'awrs']

In [99]:
#  ERROR!!!!!!!!!   ->>>    a*b

In [100]:
list('rahul')

['r', 'a', 'h', 'u', 'l']

In [101]:
l = [ 'rahu',23 ,5.8 ,True, [1,2,3,4,5,6,7,8,9] ,[10,11,12,14,15,16,17],6+7j]

In [102]:
c=0
for i in l:
    if type(i) == list:
        c+=1
        print(f"Iterating through list {c}")
        for j in i:
            print(j,end = " ")
        print("\n")

Iterating through list 1
1 2 3 4 5 6 7 8 9

Iterating through list 2
10 11 12 14 15 16 17

In [103]:
sentence = "hey i am a am i a hero am is i an or an hero is or an am i???"

In [104]:
sentence.count('am')

4

In [105]:
# adds delimiter after every character
' '.join(sentence)

'h e y   i   a m   a   a m   i   a   h e r o   a m   i s   i   a n   o r   a n   h e r o   i s   o r   a n   a m   i ? ? ?'

In [106]:
l = [1 ,2,3,45,6,'hello','this is an 21344','amazaing']

In [107]:
l.extend('any iterable object')

In [108]:
l

[1,
 2,
 3,
 45,
 6,
 'hello',
 'this is an 21344',
 'amazaing',
 'a',
 'n',
 'y',
 ' ',
 'i',
 't',
 'e',
 'r',
 'a',
 'b',
 'l',
 'e',
 ' ',
 'o',
 'b',
 'j',
 'e',
 'c',
 't']

## Error !!!!
#### l.extend(45) : We can extend any iterable object like string or list not a static value like 12,5634.00 etc

# ESC + L => list no in a jupyter notebook cell

In [109]:
l.extend('awesome')
l

[1,
 2,
 3,
 45,
 6,
 'hello',
 'this is an 21344',
 'amazaing',
 'a',
 'n',
 'y',
 ' ',
 'i',
 't',
 'e',
 'r',
 'a',
 'b',
 'l',
 'e',
 ' ',
 'o',
 'b',
 'j',
 'e',
 'c',
 't',
 'a',
 'w',
 'e',
 's',
 'o',
 'm',
 'e']

In [110]:
# POP function removes last element from the list
l.pop(-1)

'e'

In [111]:
l

[1,
 2,
 3,
 45,
 6,
 'hello',
 'this is an 21344',
 'amazaing',
 'a',
 'n',
 'y',
 ' ',
 'i',
 't',
 'e',
 'r',
 'a',
 'b',
 'l',
 'e',
 ' ',
 'o',
 'b',
 'j',
 'e',
 'c',
 't',
 'a',
 'w',
 'e',
 's',
 'o',
 'm']

In [112]:
len(l)

33

In [113]:
#actual insertion happens at the end but it shifts the last element to the right
l.insert(-1,'i')
l

[1,
 2,
 3,
 45,
 6,
 'hello',
 'this is an 21344',
 'amazaing',
 'a',
 'n',
 'y',
 ' ',
 'i',
 't',
 'e',
 'r',
 'a',
 'b',
 'l',
 'e',
 ' ',
 'o',
 'b',
 'j',
 'e',
 'c',
 't',
 'a',
 'w',
 'e',
 's',
 'o',
 'i',
 'm']

In [114]:
l.index('hello')

5

In [115]:
### ERROR!!!!!
#l['hello']

In [116]:
l1 = [[1,2,3],[4,5,6],[7,8,9],"demo",12.5]
l2 = [11,12,'b','b','b']
l3 = [21,'t',223]

In [117]:
l = [[1,2,3,45,6],'hey', 'beautiful',[534.234,14,7456,'abv','a','c','d','hgg',32],[3,6,9,0]]
l

[[1, 2, 3, 45, 6],
 'hey',
 'beautiful',
 [534.234, 14, 7456, 'abv', 'a', 'c', 'd', 'hgg', 32],
 [3, 6, 9, 0]]

In [118]:
for i in l:
    for j in i:
        print(j ,end = ' ')
    print("\r")

1 2 3 45 6
h e y
b e a u t i f u l
534.234 14 7456 abv a c d hgg 32
3 6 9 0

In [119]:
for i in l:
    if type(i) == str:
        print(f"string found at index {l.index(i)}")
        print(i)
    
    if type(i) == list:
        for j in i:
            if type(j) == str:
                print(j)
                print(f"string found at index {l.index(i)}")

string found at index 1
hey
string found at index 2
beautiful
abv
string found at index 3
a
string found at index 3
c
string found at index 3
d
string found at index 3
hgg
string found at index 3

In [120]:
t1 = ('rahul' , 12,'m',76 ,'hirondi',23)

inp = 'Rahul hirondi'
#inp = input('Enter your name: ').lower()

if inp.split()[0].lower() in t1:
    
    print('Hurray its there!!')
else:
    
    print('TRy searching something else!!!')

Hurray its there!!

# Tuple

In [121]:
# deleting a tuple

#del(t1)

In [122]:
t1 = ( x**2 for x in range(10)) # Act as an iterable object somewhat like range, values are present but are hidden 
t1

In [123]:
l1 = list(t1)

In [124]:
l1

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [125]:
l1.insert(5,100)

In [126]:
l1

[0, 1, 4, 9, 16, 100, 25, 36, 49, 64, 81]

In [127]:
t2 = tuple(l1)
t2

(0, 1, 4, 9, 16, 100, 25, 36, 49, 64, 81)

## Sets

In [128]:
s = [1 if x%2==0 else 2 for x in range(10) ]
s

[1, 2, 1, 2, 1, 2, 1, 2, 1, 2]

In [129]:
a = set(s)# Distinct element in a collection
a

{1, 2}

In [130]:
type(a)

set

In [131]:
2 in a

True

In [132]:
for i in a:
    print(i)

1
2

In [133]:
#a[0] ## indexing not available in sets

 *** THE ELEMENTS IN A SET APPEAR TO BE IN ORDERED ARRANGEMENT, HOWEVER IN BACKGROUND UNORDERED COLLECTION IS RETURNED***

In [134]:
ac = [x for x in range(10)]
bc = [x for x in range(10)]

t1 = tuple(ac)
t2 = tuple(bc)

In [135]:
t1+t2 #for tuple operations are allowed but not in set operations

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [136]:
# Errors out 
# a + a

# *** we can convert list<=>tuples<=>set ***

##  Dictionaries

In [137]:
x= {}

In [138]:
type(x)

dict

In [139]:
x1 = {2,3,4,56}
type(x1)

set

In [140]:
d1 = {
    'key1':'value1',
    'key2':'value2',
    'key3':'value3'
}

In [141]:
d1['key1']

'value1'

In [142]:
d2={
    'l1': [1,2,3,4,5,6],
    't1': (5,6,7,8,9,0),
    's1': {12,31,14,15},
     12 : ['awesome','b'],
     True : 123456
}

In [143]:
d2

{'l1': [1, 2, 3, 4, 5, 6],
 't1': (5, 6, 7, 8, 9, 0),
 's1': {12, 14, 15, 31},
 12: ['awesome', 'b'],
 True: 123456}

In [144]:
for i in d2.keys():
    print(type(i))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'int'>
<class 'bool'>

In [145]:
for i in d2['t1']:
    print(i,end=' ')

5 6 7 8 9 0

In [146]:
d2.keys()

dict_keys(['l1', 't1', 's1', 12, True])

In [147]:
d2.items()

dict_items([('l1', [1, 2, 3, 4, 5, 6]), ('t1', (5, 6, 7, 8, 9, 0)), ('s1', {12, 15, 14, 31}), (12, ['awesome', 'b']), (True, 123456)])

In [148]:
d2.items()

dict_items([('l1', [1, 2, 3, 4, 5, 6]), ('t1', (5, 6, 7, 8, 9, 0)), ('s1', {12, 15, 14, 31}), (12, ['awesome', 'b']), (True, 123456)])

In [149]:
#keys
for i in d2.items():
    print(i[0])

l1
t1
s1
12
True

In [150]:
#Values
for i in d2.items():
    print(i[1])

[1, 2, 3, 4, 5, 6]
(5, 6, 7, 8, 9, 0)
{12, 15, 14, 31}
['awesome', 'b']
123456

In [151]:
#para = input('Enter  your paragraph')
para = 'Enter  your paragraphasdfghjk sdfghjklo sdfghjkl dfghjk jkldfcvghj '

In [152]:
lp = list(para.split(' '))

In [153]:
lp

['Enter',
 '',
 'your',
 'paragraphasdfghjk',
 'sdfghjklo',
 'sdfghjkl',
 'dfghjk',
 'jkldfcvghj',
 '']

In [154]:
set(lp)

{'',
 'Enter',
 'dfghjk',
 'jkldfcvghj',
 'paragraphasdfghjk',
 'sdfghjkl',
 'sdfghjklo',
 'your'}

In [155]:
set1 = {}
type(set1)

dict

In [156]:
set2 = {1}
type(set2)

set

In [157]:
set1 = {1,2,3,5,6,7,8,9}
set2 = {8,23,6,21,72,7,6,2,1}

set1.intersection(set2)

{1, 2, 6, 7, 8}

set1 +set2

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-4-a630783d9820> in <module>
----> 1 set1 +set2

TypeError: unsupported operand type(s) for +: 'set' and 'set'

set1*4

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-5-075dcb68c151> in <module>
----> 1 set1*4

TypeError: unsupported operand type(s) for *: 'set' and 'int'

###  Dictionary

In [158]:
dict1 = {
    'name':"Rahul Hirondi",
    'class':"DS",
    'rollno':65,
     234:'234 is also a key',
     True:'lets see if a works.PS it doesnt'
}

#### Looping a dictionary will return keys.

In [159]:
for i in dict1:
    print(f'i = ',i,f'\tdict1 [{i}] = \t' ,dict1[i] )

i =  name 	dict1 [name] = 	 Rahul Hirondi
i =  class 	dict1 [class] = 	 DS
i =  rollno 	dict1 [rollno] = 	 65
i =  234 	dict1 [234] = 	 234 is also a key
i =  True 	dict1 [True] = 	 lets see if a works.PS it doesnt

In [160]:
dict1.keys()

dict_keys(['name', 'class', 'rollno', 234, True])

In [161]:
dict1.values()

dict_values(['Rahul Hirondi', 'DS', 65, '234 is also a key', 'lets see if a works.PS it doesnt'])

In [162]:
dictionary = {}

dictionary['a']=[1,2,3,4,56]
dictionary['b']=[1,2,3,4,56]
dictionary['ab+']=[1,2,3,4,5,6] #overrides previous a values
dictionary['o']= [1,2,3,4,5,6,7,89,643]
dictionary

{'a': [1, 2, 3, 4, 56],
 'b': [1, 2, 3, 4, 56],
 'ab+': [1, 2, 3, 4, 5, 6],
 'o': [1, 2, 3, 4, 5, 6, 7, 89, 643]}

In [163]:
dictionary.items()

dict_items([('a', [1, 2, 3, 4, 56]), ('b', [1, 2, 3, 4, 56]), ('ab+', [1, 2, 3, 4, 5, 6]), ('o', [1, 2, 3, 4, 5, 6, 7, 89, 643])])

In [164]:
dictionary.keys()

dict_keys(['a', 'b', 'ab+', 'o'])

In [165]:
dictionary.values()

dict_values([[1, 2, 3, 4, 56], [1, 2, 3, 4, 56], [1, 2, 3, 4, 5, 6], [1, 2, 3, 4, 5, 6, 7, 89, 643]])

# Function

In [166]:
def func_name(arguments):#define a function
    #body
    #body
    #body
    return "awesome"
func_name(3)# Function call

'awesome'

In [167]:
def do_nothing():
    pass
do_nothing()

In [168]:
def multiple_arguements(*args):
    return args
multiple_arguements(3,4,5,6,7) # returns all the values in form of a tuple

(3, 4, 5, 6, 7)

In [169]:
def func1(x= 5,y=10):#function with default values, if args not provided will return default values else the new values 
    return x+y

print(func1(4))
print(func1(4,5))
print(func1(100,5))

14
9
105

In [170]:
def multiple_returns(a,b):
    return a+b, a*b, a/b ,a-b

print(multiple_returns(10,5))

a,b,c,d = multiple_returns(20,8)
print(f'a = {a} , b= {b},c= {c},d = {d}',sep = '\n')

a,b,c,_ = multiple_returns(20,8)    #_ acts as an placeholder
print(f'a = {a} , b= {b},c= {c}, _ = {_}',sep = '\n')

(15, 50, 2.0, 5)
a = 28 , b= 160,c= 2.5,d = 12
a = 28 , b= 160,c= 2.5, _ = 12

In [171]:
def list_(*args):
    return args*2
list_([1,2,3,4,5,6])

([1, 2, 3, 4, 5, 6], [1, 2, 3, 4, 5, 6])

In [172]:
def list_c(a,b):
    return a + b 

list_c([1,2,4,5,6],[1234,645,243,4765])

[1, 2, 4, 5, 6, 1234, 645, 243, 4765]

In [173]:
[1,2,4,5,6]*2

[1, 2, 4, 5, 6, 1, 2, 4, 5, 6]

In [174]:
#!!!!ERRROR  [1,2,4,5,6]+5

In [175]:
def list_concat(*args):
    l = []
    for i in args:
        l = l+i
    return l
list_concat([1,2,4,5,6],[1234,645,243,4765])

[1, 2, 4, 5, 6, 1234, 645, 243, 4765]

In [176]:
l = [1234567889,7,3,4]

In [177]:
l.extend(l)

In [178]:
dt = [5,'hey',7.9 , True]
for i in dt:
    print(type(i))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

In [179]:
def dt_sep(*args):
    integer = []
    string = []
    floatt = []
    others = []
    for i in args :
        if type(i)==int:
            integer.append(i)
            
        elif type(i) == str:
            string.append(i)
            
        elif type(i) == float:
            floatt.append(i)
        
        else :
            others.append(i)
            
    return integer,string,floatt,others

In [180]:
dt_sep(1,2,4,5,'a',6,'f','gh',7,8, [2.1,4,5,6,7] , 23,2.3)

([1, 2, 4, 5, 6, 7, 8, 23], ['a', 'f', 'gh'], [2.3], [[2.1, 4, 5, 6, 7]])

In [181]:
def kw_args(**kwargs):
    return kwargs

kw_args(a=5,b=7)

{'a': 5, 'b': 7}

In [182]:
def dt_sep_2nd (*args):# 1,2,4,5,5.6,7+6j ,'araassdfgag' ,[1,24,6,78], {1,3,5,7,9}
    dt = {}
    for i in args:
        if type(i) in dt:
            dt[type(i)].append(i)
        else:
            dt[type(i)] = [i]
    return dt

dt_sep_2nd(1,2,4,5,5.6,7+6j ,'araassdfgag' ,[1,24,6,78], {1,3,5,7,9})

{int: [1, 2, 4, 5],
 float: [5.6],
 complex: [(7+6j)],
 str: ['araassdfgag'],
 list: [[1, 24, 6, 78]],
 set: [{1, 3, 5, 7, 9}]}

In [183]:
a= 'asdgf asdf assd asdfffff asdfgh asdf'
c= 0
for i in a.split():
    if i.startswith('asdf'):
        c+=1
print(c)

4

##  Lambda Function

In [184]:
l = lambda a,b: a+b
l(2,4)

6

In [185]:
# iter() converts iterable object to iterator!!!!!!

In [186]:
#String is an iterable object but not an iterator 
a = 'rahul'
#To convert this object to an iterator we use iter()
a= iter(a)

next(a)

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-2-15841f3f11d4> in <module>
----> 1 next(a)

TypeError: 'str' object is not an iterator

In [187]:
next(a)

'r'

In [188]:
def genfib(n):
    a=0
    b=1
    op = []
    for i in range(n):
        op.append(a)
        a,b = b,a+b
    return op
genfib(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [189]:
def genfib(n):
    a=0
    b=1
    op = []
    for i in range(n):
        yield a
        a,b = b,a+b
    return op
genfib(10)

In [190]:
for i in genfib(10):
    print(i)

0
1
1
2
3
5
8
13
21
34

##  File I/O

            f = open('demo.txt','w') -> Opens if presents/creates if absent, the file name mentioned along with mode 
            
            f.write(r"Hey its the first line of code in this blank file.") -> Write in the file
            
            f.read() -> read contents only in 'r' or 'r+' mode && not in 'w' mode in open() 
            
            f.seek(6) -> moves the pointer at the nth mentioned "letter "  same as string
            
            f.readline(1) -> read nth line

In [191]:
import os

In [192]:
pwd() #pwd also works

'C:\\Users\\rahul\\Desktop\\Python\\Python Basics'

In [193]:
os.getcwd()

'C:\\Users\\rahul\\Desktop\\Python\\Python Basics'

In [194]:
os.listdir()

['.ipynb_checkpoints',
 'Abstraction & Inheritance.ipynb',
 'Assignment.ipynb',
 'Backup Pyhton Practice.ipynb',
 'Django',
 'Exception Handling.ipynb',
 'Flask',
 'Functions & Classes.ipynb',
 'Lists & Tuples.ipynb',
 'Logging',
 'Modules',
 "OOP's Concept.ipynb",
 'Python Practice.ipynb',
 'Sets & Dictionaries.ipynb',
 'Strings.ipynb']

In [195]:
pwd

'C:\\Users\\rahul\\Desktop\\Python\\Python Basics'

In [196]:
os.chdir('C:\\Users\\rahul\\Desktop\\')  # \\ also works

In [197]:
os.chdir('C:/Users/rahul/Desktop/Python/') # / also works

In [198]:
pwd

'C:\\Users\\rahul\\Desktop\\Python'

In [199]:
if os.path.isdir('Demo'):
    os.removedirs('Demo')
elif os.path.isdir('Demo Folder'):
    os.removedirs('Demo Folder')

In [200]:
os.mkdir("Demo Folder")

In [201]:
os.listdir()

['Concept Coding Questions',
 'Demo Folder',
 'iNeuron Classes Notebooks',
 'Notes',
 'Python Basics',
 '__pycache__']

In [202]:
'demo.txt' in os.listdir()

False

In [203]:
os.path.isdir('Demo Folder')

True

In [204]:
os.rename('Demo Folder',"Demo")

In [205]:
os.listdir()

['Concept Coding Questions',
 'Demo',
 'iNeuron Classes Notebooks',
 'Notes',
 'Python Basics',
 '__pycache__']

In [206]:
os.path

# 'f' works everywhere, inside any function!!!! for ex: print( f ' Hey { i } ')

In [207]:
#EXERCISE-

#Create a Directory :
os.mkdir("New Directory")
os.chdir("New Directory")

#Create 10 txt files & write some data in all 10 files at a time
for i in range(10):
    f = open(f'file_{i}.txt','w')
    f.write(f'This is content for file no {i}')
    f.close()

In [208]:
os.listdir()

['file_0.txt',
 'file_1.txt',
 'file_2.txt',
 'file_3.txt',
 'file_4.txt',
 'file_5.txt',
 'file_6.txt',
 'file_7.txt',
 'file_8.txt',
 'file_9.txt']

In [209]:
#Read all the data from this directory
for i in os.listdir():
    j = open(i,'r+')
    j.read()
    j.close()

In [210]:
f = open('file_0.txt','r+')

In [211]:
f.read()

'This is content for file no 0'

In [212]:
f.seek(10)

10

In [213]:
f.write("I am adding this line in the 10th pos")

37

In [214]:
f.close()

In [215]:
#Read all the data from this directory, & hold it in a list

file_contents = []

for i in os.listdir():
    j = open(i,'r+')
    file_contents.append(j.read())
    j.close()

file_contents

['This is coI am adding this line in the 10th pos',
 'This is content for file no 1',
 'This is content for file no 2',
 'This is content for file no 3',
 'This is content for file no 4',
 'This is content for file no 5',
 'This is content for file no 6',
 'This is content for file no 7',
 'This is content for file no 8',
 'This is content for file no 9']

In [216]:
file_contents

['This is coI am adding this line in the 10th pos',
 'This is content for file no 1',
 'This is content for file no 2',
 'This is content for file no 3',
 'This is content for file no 4',
 'This is content for file no 5',
 'This is content for file no 6',
 'This is content for file no 7',
 'This is content for file no 8',
 'This is content for file no 9']

In [217]:
file_contents

['This is coI am adding this line in the 10th pos',
 'This is content for file no 1',
 'This is content for file no 2',
 'This is content for file no 3',
 'This is content for file no 4',
 'This is content for file no 5',
 'This is content for file no 6',
 'This is content for file no 7',
 'This is content for file no 8',
 'This is content for file no 9']

In [218]:
file_contents = str(file_contents)
file_contents = file_contents[1:-1]

In [219]:
k= open('COntents From 10.txt','w')
k.write(file_contents)
k.close()

In [220]:
k= open('COntents From 10.txt','r+')

In [221]:
k.seek(0)
k.read()

"'This is coI am adding this line in the 10th pos', 'This is content for file no 1', 'This is content for file no 2', 'This is content for file no 3', 'This is content for file no 4', 'This is content for file no 5', 'This is content for file no 6', 'This is content for file no 7', 'This is content for file no 8', 'This is content for file no 9'"

In [222]:
k.close()

## Logging

In [223]:
import logging as lg
import os

In [224]:
os.mkdir('Logging')

In [225]:
os.listdir()

['COntents From 10.txt',
 'file_0.txt',
 'file_1.txt',
 'file_2.txt',
 'file_3.txt',
 'file_4.txt',
 'file_5.txt',
 'file_6.txt',
 'file_7.txt',
 'file_8.txt',
 'file_9.txt',
 'Logging']

In [226]:
os.chdir('Logging')

In [227]:
lg.basicConfig(filename = 'First_log.txt',level = lg.INFO)

In [228]:
lg.info("This is my info part of logging")

In [229]:
lg.warning("HEY!!! Its a warning")

In [230]:
lg.critical("HEY!!!DDont you understand its CRITICAL!!")