<div style='color:white;text-align:center;background-color:black; font-size:20px'> Sets </div>

<center> Sets are datatype of unordered collection of distinct elements that are mutable & iterable </center>

In [1]:
a = {1}
type(a)

set

In [2]:
# sets appear to be ordered but in reality they are unordered

In [3]:
set1 = {1,2,3,4,5,'hey','new',3.4 , True , 89, 1,2,3,4}
set2 = {1,2,3,4,5,'hey', 4.5 , False , 78,4,1,3,2}

print(set1, set2)

{1, 2, 3, 4, 5, 'hey', 'new', 3.4, 89} {False, 1, 2, 3, 4, 5, 'hey', 4.5, 78}

In [4]:
set1.union(set2)

{1, 2, 3, 3.4, 4, 4.5, 5, 78, 89, False, 'hey', 'new'}

In [5]:
set1.difference(set2)

{3.4, 89, 'new'}

In [6]:
for i in set1:
    print(i)

1
2
3
4
5
hey
new
3.4
89

In [7]:
s1 = { i**2 for i in range(10)}
s1

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81}

In [8]:
s1 = list(s1)
s1[5] = 7980
s1 = set(s1)
s1

{0, 1, 4, 16, 25, 36, 49, 64, 81, 7980}

In [9]:
s1.pop()
s1

{1, 4, 16, 25, 36, 49, 64, 81, 7980}

In [10]:
s1.pop()
s1

{4, 16, 25, 36, 49, 64, 81, 7980}

In [24]:
s = {1}
type(s)

set

<div style = 'color:red'><center> Cannot perform arithmetic operations on sets & cannot slice a set</center></div>

<div style='color:white;text-align:center;background-color:black; font-size:20px'> Dictionaries </div>

<center> Dictionaries are mutable datatypes that can store data in key value pairs!!<center>

In [11]:
dict1 = {}
type(dict1)

dict

In [12]:
dict1 = {'key1': 'value1',
         'key2': 2123,
         'key3': True,
         'key4': [1,2,3,4,5],
          5     : ['yes','no']}
dict1

{'key1': 'value1',
 'key2': 2123,
 'key3': True,
 'key4': [1, 2, 3, 4, 5],
 5: ['yes', 'no']}

In [13]:
dict1.keys()

dict_keys(['key1', 'key2', 'key3', 'key4', 5])

In [14]:
dict1.values()

dict_values(['value1', 2123, True, [1, 2, 3, 4, 5], ['yes', 'no']])

In [15]:
for i in dict1:
    print(i)

key1
key2
key3
key4
5

In [16]:
for i in dict1.keys():
    print(i)

key1
key2
key3
key4
5

In [17]:
for i in dict1.items():
    print(i)

('key1', 'value1')
('key2', 2123)
('key3', True)
('key4', [1, 2, 3, 4, 5])
(5, ['yes', 'no'])

In [18]:
for i in dict1.values():
    print(i)

value1
2123
True
[1, 2, 3, 4, 5]
['yes', 'no']

In [19]:
dict1['key1']

'value1'

In [20]:
dict1['key4']

[1, 2, 3, 4, 5]

In [21]:
dict1['new_col'] = [1,2,3,4,5,6,7,9,8,10]

In [22]:
dict1

{'key1': 'value1',
 'key2': 2123,
 'key3': True,
 'key4': [1, 2, 3, 4, 5],
 5: ['yes', 'no'],
 'new_col': [1, 2, 3, 4, 5, 6, 7, 9, 8, 10]}